.container-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding: 0 4rem;
}

@media (width < 768px) {
  .container-menu {
    padding: 0 2rem;
  }
}
