:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  --blanco: #ffffff;
  --rojo: #ff0000;
  --amarillo: rgb(245, 209, 7);
  --verde: #189616;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  width: 100%;
}
h1 {
  font-size: 4rem;
  color: var(--amarillo);
  margin-bottom: 1rem;
}

h2 {
  font-size: 3rem;
  color: var(--amarillo);
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  color: var(--blanco);
}
@media (width < 768px) {
  main {
    padding-top: 6rem;
  }
}
